<table class="table table-user">
 <h2>User Info</h2>
 <thead>
  <tr>
   <%= image_tag user.get_profile_image("63x63") %>
  </tr>
 </thead>
 <tbody>
  <tr>
   <th>Name</th>
   <th><%= user.name %></th>
  </tr>
  <tr>
   <th>Introduction</th>
   <th><%= user.introduction %></th>
  </tr>
  </table>
  <% if !(user.name == "guestuser") %>
  <div class='row'>
     <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
  </div>
  <% end %>

<!--  <tr>-->
<!--   <th colspan="2">-->
<!--    <%= link_to edit_user_path(user.id) do %><span class="btn btn-outline-secondary btn-block"><i class="fas fa-user-cog"></i></i></span><% end %>-->
<!--   </th>-->
<!--  </tr>-->
<!-- </tbody>-->
<!--</table>-->


