<h1>Users</h1>
<table>
  <thread>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
    </tr>
  </thread>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= image_tag user.get_profile_image("100x100") %></td>
      <td><%= user.name %></td>
      <td><%= link_to "show", user_path(user.id) %></td>
    </tr>
    <% end %>

  </tbody>
</table>

<% @users.each do |user| %>
 <p>image</p>
 <span><%= image_tag user.get_profile_image("100x100") %></span>
 <p>name</p>
 <span><%= user.name %></span>
<% end %>