 <table>
  <tr>
    <td><%= image_tag @book.user.get_profile_image("100x100") %></td>
    <td><%= link_to @user.name, user_path(@user) %></td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <% if @book.user_id == current_user.id %>
      <td><%= link_to "Edit", edit_book_path(@book) %></td>
      <td><%= link_to "Destroy", book_path(@book), method: :delete %></td>
    <% end %>
  </tr>
 </table>



<h2>Title</h2>
<p><%= @book.title %></p>

<h2>Body</h2>
<p><%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book.id) %> |
<%= link_to "Back", books_path %>